/* ------------------------initialisation page --------------------------*/
*::before::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/*-------------------------Header------------------------*/
.navbar {
	background: #E74513
}

.nav-item::after {
	content: '';
	display: block;
	width: 0px;
	height: 2px;
	background: #000;
	transition: 0.4s
}

.nav-item:hover::after {
	width: 50px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #000
}

.nav-link {
	padding: 5px 5px;
	transition: 0.2s
}

/*-----------Main-------------*/

.container-fluid{
	padding-bottom: 10px;
}

.titre{
	text-align: center;
	color: #2e73ea;
	font-weight: bold;
    padding: 10px;
}

.col{
    font-size: 20px;
    padding: 10px;
}

.pres{
	width: 100%;
	font-size: 20px;
}

.pres > p{
    padding: 5px;
}